@model int

<div class="text-center">
    <h1 class="text-info pt-4">恭喜！您離美味的食物更近了一步。</h1>
    <p class="pb-3">我們已收到您的訂單，並會在三天內寄出(不含假日)！</p>
    <h4 class="text-warning pb-3">訂單編號 - @Model</h4>
    <img src="/images/tk.png" style="width: 50%;" />
</div>