<h1 class="text-center">品牌理念</h1>
<div class="mt-3">
    <section class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="section-title">我們的甜蜜築巢</h2>
            <p class="section-content">在 SweetNest 甜巢，每一份甜點都是我們用心築起的甜蜜居所。源於對烘焙的熱愛，我們像辛勤的鳥兒，細心挑選每一份食材，揉合每一份心意，只為在您的味蕾中，築起一個充滿幸福感的美味巢穴。</p>
        </div>
    </section>

    <section class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <h2 class="section-title">巢裡的珍貴選材</h2>
            <p class="section-content">如同鳥兒為牠的巢穴尋覓最堅固的枝枒，SweetNest 甜巢 也堅持為您挑選最優質、最天然的食材。新鮮的果實如同陽光下的露珠，香醇的奶油如同溫柔的羽翼，每一份原料都是我們精心尋覓的巢中珍寶，只為呈現最純粹的甜蜜滋味。</p>
        </div>
    </section>

    <section class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <h2 class="section-title">雙手的溫度，巢裡的暖意</h2>
            <p class="section-content">在 SweetNest 甜巢，每一份甜點都飽含著手作的暖意。我們的雙手如同築巢的翅膀，輕柔地揉捏、細心地烘烤、精心地裝飾。這份來自指尖的溫度，如同巢穴裡的溫暖，希望能為您帶來一份甜蜜的依偎，感受幸福的滋味。</p>
        </div>
    </section>

    <section class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <h2 class="section-title">甜蜜分享，巢滿喜悅</h2>
            <p class="section-content">SweetNest 甜巢 不僅僅是一個品嚐甜點的地方，更是一個分享喜悅、感受幸福的甜蜜空間。我們期盼，每一份甜點都能像巢中的鳥兒，將快樂的音符傳遞到您的心中，讓您的生活充滿甜蜜與溫暖，巢滿幸福的滋味。</p>
        </div>
    </section>
    <div class="text-center">
           <img src="~/images/about.png"/>
    </div>
</div>
